.teacher-container {
	background-color: rgb(25, 25, 51);
}
.teacher-body {
	color: white;
	font-size: large;
	font-weight: 600;
}
.cart {
	border: 1px solid gray;

	align-content: center;
}
.img-service img {
	width: 300px;
	background-color: rgb(37, 37, 75);
}

.description-p {
	overflow-y: scroll;
	height: 200px;
}

/* gallery section  */
.gallery-container {
	background-color: #191933;
}
