.teacher-img img {
	width: 300px;
}
.teacher-container {
	background-color: rgb(25, 25, 51);
}
.teacher-body {
	width: 300px;
	color: white;
	font-size: large;
	font-weight: 600;
}
.cart {
	border: 1px solid gray;
	width: 300px;
	align-content: center;
}
.img-service img {
	width: 300px;

	background-color: rgb(37, 37, 75);
	/* margin-left: 90px; */
}
.service-body {
	height: 200px;
}
.description-p {
	overflow-y: scroll;
	height: 200px;
}

/* gallery section  */
.gallery-container {
	margin-top: 700px;
	background-color: rgb(24, 24, 87);
	margin-bottom: -200px;
}
