.teacher-img img {
	width: 300px;
}
.teacher-container {
	background-color: rgba(75, 75, 160, 0.295);
}
.teacher-body {
	width: 300px;
	color: rgb(89, 34, 141);
	font-size: large;
	font-weight: 600;
}
.cart {
	border: 1px solid gray;
	width: 300px;
	align-content: center;
}
.img-service img {
	width: 300px;

	background-color: darkblue;
	/* margin-left: 90px; */
}
.service-body {
	height: 200px;
}
.description-p {
	overflow-y: scroll;
	height: 200px;
}
