.footer-container {
	height: 300px;
	background-color: #181830;
}
.footer-margin {
	margin-top: 100px;
}

.footer-icon i {
	size: 15px;
	background-color: #bb2d3b;

	border-radius: 30px;
	margin: 5px;
}
.footer-icon i:hover {
	size: 15px;
	background-color: rgb(43, 43, 105);
	border-radius: 30px;
	margin: 5px;
}
.li {
	list-style: none;
	display: inline-flex;
	text-decoration: none;
	color: white;
	padding: 10px;
}
.li:hover {
	color: white;
}
.footer-input {
	width: 350px;
}
@media only screen and (max-width: 600px) {
	.footer-input {
		width: 250px;
	}
}
